<a href="https://colab.research.google.com/github/ajinkyb1995/Analytics-Case-Study/blob/main/Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Set

In [ ]:
1. Mutable > changable
2. Unordered > we can not use indexing and slicing
3. Duplicates are not allowed
4. Enclosed by {}
5. Initilized with set()
6. Sets items are comma seperated
7. We can add only Immutable items in set data type

In [ ]:
lst = []
s1 = set()

In [ ]:
lst = [2,3,4,8,1,10,2]
print(lst)

[2, 3, 4, 8, 1, 10, 2]

In [ ]:
set1 = {2,3,4,8,1,10,2}
print(set1)

{1, 2, 3, 4, 8, 10}

In [ ]:
s1 = set()
type(s1)

set

In [ ]:
s1 = {1,2.3,(3,4,5,6),"Python"}
type(s1)

set

In [ ]:
s1

{(3, 4, 5, 6), 1, 2.3, 'Python'}

In [ ]:
s1 = {1,2.3,(3,4,5,6),"Python",[3,4]} # bcoz of list
type(s1)

TypeError: unhashable type: 'list'

In [ ]:
a = [] # list
print(type(a))
b = set()
print(type(b))
c =()
print(type(c))
c1 =(2)
print(type(c1))
c2 = {} # dict {key:val}
print(type(c2))
c3 = tuple()
print(type(c3))
c4 = str()
print(type(c4))

<class 'list'>
<class 'set'>
<class 'tuple'>
<class 'int'>
<class 'dict'>
<class 'tuple'>
<class 'str'>

#### Access of items

In [ ]:
s1 = {2,3,4,6.7,8}
s1[0]

TypeError: 'set' object is not subscriptable

In [ ]:
s1 = {2,3,4,6.7,8}
s1[0:3]

TypeError: 'set' object is not subscriptable

In [ ]:
s1 = {2,3,4,6.7,8,3,1,3,4}
for i in s1:
    print(i)

1
2
3
4
6.7
8

In [ ]:
s1 = {2,3,4,6.7,8,3,1,3,4}
for i,val in enumerate(s1):
    print(i,">>>>>",val)

0 >>>>> 1
1 >>>>> 2
2 >>>>> 3
3 >>>>> 4
4 >>>>> 6.7
5 >>>>> 8

In [ ]:
lst1 = [3,4,5,2,4,7]
lst2 = [4,5,6,7,8,9] # [4,5,7]
new_lst = []
for i in lst1: # i=3
    if i in lst2 and i not in new_lst:
        new_lst.append(i)
new_lst

[4, 5, 7]

In [ ]:
set(lst1).intersection(set(lst2))

{4, 5, 7}

#### Set Function

#### 1. add

In [ ]:
used to add one item in set # immuatble
Item will get added at random index

In [ ]:
s1 = {10,13,2,14,15,3}
s1.add(5555)
s1.add(3333)
s1

{2, 3, 10, 13, 14, 15, 3333, 5555}

In [ ]:
s1.append(4444)
s1

AttributeError: 'set' object has no attribute 'append'

#### 2. update()

In [ ]:
used to join two sets

In [ ]:
lst1 = [3,4,5,2,4,7]
lst2 = [4,5,6,7,8,9]
lst1.extend(lst2)
lst1

[3, 4, 5, 2, 4, 7, 4, 5, 6, 7, 8, 9]

In [ ]:
s11 = {3,4,5,2,4,7}
s12 = {4,5,6,7,8,9}
s11.update(s12)
print(s11)

{2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
s11 = {3,4,5,2,4,7}
lst1 = [4,5,6,7,8,9]
s11.update(lst1)
print(s11)

{2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
s11 = {3,4,5,2,4,7}
tup11 = (4,5,6,7,8,9)
s11.update(tup11) # 2nd item can be set or list, tuple
print(s11)

{2, 3, 4, 5, 6, 7, 8, 9}

#### 3. Union

In [ ]:
will get unique value

In [ ]:
s11 = {3,4,5,2,4,7}
tup11 = (4,5,6,7,8,9)
s11.union(tup11) # unique

{2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
s11 = {3,4,5,2,4,7}
tup11 = (4,5,6,7,8,9)
s11.intersection(tup11) # common

{4, 5, 7}

In [ ]:
s1 = {3,4,5,2,4,7}
lst1 = [4,5,6,7,8,9]
tup2 = (17,18)
s1.union(lst1,tup2)

{2, 3, 4, 5, 6, 7, 8, 9, 17, 18}

### Delete items from set

In [ ]:
1. remove
2. pop
3. clear
4. discard()

#### 1. remove()

In [ ]:
s1 = {3,4,5,2}
s1.remove(4)
s1

{2, 3, 5}

In [ ]:
s1 = {3,4,5,2,4}
s1.remove(4)
s1

{2, 3, 5}

In [ ]:
s1 = {3,4,5,2,4}
s1.remove(14)
s1

KeyError: 14

#### 2) discard()

In [ ]:
# no error , it item is not present in  set

In [ ]:
s1 = {3,4,5,2,4}
item = 14
if item in s1:
    print("Item is present")
    s1.remove(item)
else:
    print("Item is not present")

Item is not present

In [ ]:
s1 = {3,4,5,2,4}
item = 4
if item in s1:
    print("Item is present and delted")
    s1.remove(item)
    print(s1)
else:
    print("Item is not present")

Item is present and delted
{2, 3, 5}

In [ ]:
s1 = {3,4,5,2,4}
s1.discard(14)
s1

{2, 3, 4, 5}

In [ ]:
s1 = {"Phy","Mumbai","Delhi","Pune"}
s1.discard("Phy")
s1

{'Delhi', 'Mumbai', 'Pune'}

In [ ]:
s1 = {"Phy","Mumbai","Delhi","Pune"}
s1.discard("Physics")
s1

{'Delhi', 'Mumbai', 'Phy', 'Pune'}

#### 3. pop

In [ ]:
It will delete random item from set
> Note: we can not allow to pass index number bcoz of unordered

In [ ]:
s1 = {"Phy","Mumbai","Delhi","Pune"}
s1.pop()
s1

{'Mumbai', 'Phy', 'Pune'}

In [ ]:
s1 = {"Phy","Mumbai","Delhi","Pune"}
s1.pop(0)
s1

TypeError: set.pop() takes no arguments (1 given)

In [ ]:
s1 = list({"Phy","Mumbai","Delhi","Pune"}) # tYPE CASTING
print(s1)
s1.pop(0)
s2 = set(s1) # TYPE CASTING
s2

['Delhi', 'Phy', 'Pune', 'Mumbai']

{'Mumbai', 'Phy', 'Pune'}

#### 4) clear

In [ ]:
used to remove all items from set

In [ ]:
s1 = {"Phy","Mumbai","Delhi","Pune"}
s1.clear()
s1 # empty set

set()

In [ ]:
s1 = {"Phy","Mumbai","Delhi","Pune"}
s1.pop() # one randdomly deleted
s1

{'Mumbai', 'Phy', 'Pune'}

#### 5) del

In [ ]:
s1 = {"Phy","Mumbai","Delhi","Pune"}
del s1
s1

NameError: name 's1' is not defined

In [ ]:
lst1 = ["Phy","Mumbai","Delhi","Pune"]
del lst1
lst1

NameError: name 'lst1' is not defined

In [ ]:
lst1 = ["Phy","Mumbai","Delhi","Pune"]
del lst1[2]
lst1

['Phy', 'Mumbai', 'Pune']

In [ ]:
s1 = {"Phy","Mumbai","Delhi","Pune"}
del s1[0]
s1

TypeError: 'set' object doesn't support item deletion

#### Other set Function

##### 1. intersection

In [ ]:
To common items/ elements

In [2]:
s1 = {3,4,5,2,4,7}
tup1 = (4,5,6,7,8,9)
s1.intersection(tup1)
print(s1)
print(tup1)

{2, 3, 4, 5, 7}
(4, 5, 6, 7, 8, 9)

In [5]:
s1 = {3,4,5,2,4,7}
tup1 = (4,5,6,7,8,9)
b = s1.intersection(tup1) # updating output into new variable
print(s1)
print(tup1)
print("Set of common elements",b)

{2, 3, 4, 5, 7}
(4, 5, 6, 7, 8, 9)
Set of common elements {4, 5, 7}

#### 2. intersection_update

In [10]:
s1 = {3,4,5,2,4,7}
tup1 = (4,5,6,7,8,9)
s1.intersection_update(tup1)
print(s1)
print(tup1)

{4, 5, 7}
(4, 5, 6, 7, 8, 9)

In [ ]:
s1 = {3,4,5,2,4,7}
tup1 = (4,5,6,7,8,9)
tup1.intersection_update(s1) # index and count
print(s1)
print(tup1)

AttributeError: 'tuple' object has no attribute 'intersection_update'

#### 3) difference

Unique value from set

In [ ]:
s1 = {3,4,5,2,4,7}
tup1 = (4,5,6,7,8,9)
s1.difference(tup1) # unique value from s1

{2, 3}

In [ ]:
s1 = {3,4,5,2,4,7}
s2 = {4,5,6,7,8,9}
s2.difference(s1) # unique value from s2

{6, 8, 9}

In [ ]:
s1 = {3,4,5,2,4,7}
s2 = {4,5,6,7,8,9}
s2.difference(s1) # unique value from s2
print(s1)
print(s2)

{2, 3, 4, 5, 7}
{4, 5, 6, 7, 8, 9}

### 5. differnce_update

In [ ]:
s1 = {3,4,5,2,4,7}
s2 = {4,5,6,7,8,9}
s2.difference_update(s1) # unique value from s2 >>> s2 updated
print(s1)
print(s2)

{2, 3, 4, 5, 7}
{6, 8, 9}

In [ ]:
var1 = ["Pune","Mumbai","Delhi","Chennai"]
var2 = ["Pune","Delhi","Bangalore","Hydrabad","Kolkata"]
# var1.differce(var2) # Mumbai" ,Chennai
result = []
for city in var1:
    if city not in var2:
        result.append(city)
result

['Mumbai', 'Chennai']

In [ ]:
var1 = ["Pune","Mumbai","Delhi","Chennai"]
var2 = ["Pune","Delhi","Bangalore","Hydrabad","Kolkata"]
result = [city for city in var1 if city not in var2]
result

['Mumbai', 'Chennai']

In [ ]:
var1 = ["Pune","Mumbai","Delhi","Chennai"]
var2 = ["Pune","Delhi","Bangalore","Hydrabad","Kolkata"]
set(var1).difference(var2)

{'Chennai', 'Mumbai'}

#### 5) symmetric_difference()

In [ ]:
var1 = ["Pune","Mumbai","Delhi","Chennai"]
var2 = ["Pune","Delhi","Bangalore","Hydrabad","Kolkata"]
set(var1).symmetric_difference(var2) # unique values from both set or remove common elements

{'Bangalore', 'Chennai', 'Hydrabad', 'Kolkata', 'Mumbai'}

In [ ]:
var1 = ["Pune","Mumbai","Delhi","Chennai"]
var2 = ["Pune","Delhi","Bangalore","Hydrabad","Kolkata"]
a = set(var1).symmetric_difference(var2) # unique values from both set or remove common elements
print(a)
print(var1)
print(var2)

{'Chennai', 'Bangalore', 'Hydrabad', 'Kolkata', 'Mumbai'}
['Pune', 'Mumbai', 'Delhi', 'Chennai']
['Pune', 'Delhi', 'Bangalore', 'Hydrabad', 'Kolkata']

#### 6) symmetric_difference_update()

In [ ]:
var1 = {"Pune","Mumbai","Delhi","Chennai"}
var2 = ["Pune","Delhi","Bangalore","Hydrabad","Kolkata"]
var1.symmetric_difference_update(var2)
print(var1)
print(var2)

{'Hydrabad', 'Kolkata', 'Chennai', 'Bangalore', 'Mumbai'}
['Pune', 'Delhi', 'Bangalore', 'Hydrabad', 'Kolkata']

In [ ]:
. intersection >>> common elements
. union >>>  unique elements
. difference >> unique elements other than common

#### 7. issubset()

In [ ]:
s1 = {1,2,3,4,5,6}
s2 = {3,4,5}
s1.issubset(s2) # all set1 items present in set2 then it becomes True else False

False

In [ ]:
s1 = {1,2,3,4,5,6}
s2 = {3,4,5}
s2.issubset(s1) # all set1 items present in set2 then it becomes True else False

True

#### 8) issuperset()

In [ ]:
s1 = {1,2,3,4,5,6}
s2 = {3,4,5}
s1.issuperset(s2)
#Return True only when if all items of set2 is present in set1 else False

True

In [ ]:
s1 = {1,2,3,4,5,6}
s2 = {3,4,5}
s2.issuperset(s1)
#Return True only when if all items of set2 is present in set1 else False

False

#### 9) isdisjoint()

In [ ]:
if there nothing is common in both sets then it return True

In [ ]:
s1 = {2,3,4,5,6}
s2 = {4,5,6,7,8}
s1.intersection(s2)

{4, 5, 6}

In [ ]:
s1 = {2,3,4,5,6}
s2 = {4,5,6,7,8}
s1.symmetric_difference(s2)

{2, 3, 7, 8}

In [ ]:
s1 = {2,3,4,5,6}
s2 = {4,5,6,7,8}
s1.isdisjoint(s2)

False

In [ ]:
s1 = {2,3,4,5,6}
s2 = {7,8}
s1.isdisjoint(s2)

True

#### Copy

In [ ]:
s1 = {2,3,4,5,6}
s2 = s1
print(s1)
print(s2)

{2, 3, 4, 5, 6}
{2, 3, 4, 5, 6}

In [ ]:
s1 = {2,3,4,5,6}
s2 = s1
s1.add("Hello")
print(s1)
print(s2)

{2, 3, 4, 5, 6, 'Hello'}
{2, 3, 4, 5, 6, 'Hello'}

In [ ]:
s1 = {2,3,4,5,6}
s2 = s1.copy()
s1.add("Hello")
print(s1)
print(s2)

{2, 3, 4, 5, 6, 'Hello'}
{2, 3, 4, 5, 6}

In [ ]:
s1 = {2,3,4,5,6}
s2 = s1.copy()
s1.add([3,4,5,6]) # only immutable allowed
print(s1)
print(s2)

TypeError: unhashable type: 'list'

In [ ]:
lst = [[2,3],[4,5,6],5,10] # [2,3,4,5,6,5,10]
new_lst = []
for i in lst:
    if type(i) == list:
        new_lst.extend(i)
    else:
        new_lst.append(i)
new_lst

[2, 3, 4, 5, 6, 5, 10]

In [ ]:
lst = [[2,3],[4,5,6],5,10] # [2,3,4,5,6,5,10]
new_lst = []
for i in lst:
    if type(i) == list:
        for j in i:
            new_lst.append(j)
    else:
        new_lst.append(i)
new_lst

[2, 3, 4, 5, 6, 5, 10]